
<div class="row text-center">
    <div class="col-md-12">
              <div class="row show-grid">
                <div class="col-md-4 col-md-4">
                         
                    <div>
                        <h5 class="grid-h">Cisterna 1</h5> 
                        <hr/>
                      <app-cisterna1></app-cisterna1>

                    </div>
                    
                      
                    </div>

                  <div class="col-md-4 col-md-4">
                      <div>
                        <h5 class="grid-h">Cisterna 2</h5> 
                        <hr/>
                        <app-cisterna2></app-cisterna2>
                      </div>
                        
                      </div>
                  
                <div class="col-md-4 col-md-4">
                    
                  <div>
                    <h5 class="grid-h">Bloco 01</h5>
                    <hr/>
                      <app-bloco1></app-bloco1>


                  </div>
                    
                  </div>

                  <div class="col-md-4 col-md-4">

                      <div>
                          <h5 class="grid-h">Bloco 02</h5>
                          <hr/>
                        <app-bloco2></app-bloco2>


                      </div>
                        
                      </div>


                  <div class="col-md-4 col-md-4">
                      
                      <div>
                          <h5 class="grid-h">Bloco 03</h5>
                          <hr/>
                        <app-bloco3></app-bloco3>


                      </div>
                        
                      </div>
                  <div class="col-md-4 col-md-4">
                  
                      
                      <div>
                          <h5 class="grid-h">Bloco 04 CL1</h5>
                          <hr/>
                        <app-bloco4cl1></app-bloco4cl1>


                      </div>
                        
                      </div>
                    <div class="col-md-4 col-md-4">
                      

                       
                        <div>
                            <h5 class="grid-h">Bloco 04 CL2</h5>
                            <hr/>
                          <app-bloco4cl2></app-bloco4cl2>


                        </div>
                          
                      </div>
                    
                    <div class="col-md-4 col-md-4">


                        <div>
                          <h5 class="grid-h">Bloco 05 CL1</h5>
                          <hr/>

                          <app-bloco5cl1></app-bloco5cl1>


                        </div>
                          
                      </div>

                    <div class="col-md-4 col-md-4">

                        <div>
                            <h5 class="grid-h">Bloco 05 CL2</h5>
                            <hr/>
                          <app-bloco5cl2></app-bloco5cl2>


                        </div>
                          
                      </div>

                      <div class="col-md-4 col-md-4">
                          <div>
                              <h5 class="grid-h">Bloco 06 CL1</h5>
                              <hr/>
                            <app-bloco6cl1></app-bloco6cl1>



                          </div>
                            
                        </div>
                        <div class="col-md-4 col-md-4">
                                            
                            <div>
                                <h5 class="grid-h">Bloco 06 CL2</h5>
                                <hr/>
                              <app-bloco6cl2></app-bloco6cl2>

                            </div>                     
                          </div>    

                  </div>    
    
    </div>



</div>




