.badge-success {
    background-color: #00d977; /* Green */
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
    color: #ffffff
};

.badge-danger {
    background-color: #ff386a; /* Red */ 
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
    color: #ffffff
}
.badge-warning {
    background-color:#ffa100;
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
    color: #ffffff
}