.badge-success {
    background-color: #00d977; /* Green */
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
};

.badge-danger {
    background-color: #ff386a; /* Red */ 
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
}
