
<div class="row text-center">
    <div class="col-md-12">
     
        <nb-card>
        <span class="badge badge-success" style="float:right" >Conectado</span>
  
                   <div>
                      <fusioncharts
                      width="175"
                      height="200"
                      type="cylinder"
                      dataFormat="json"
                      [dataSource]="data" >
                    </fusioncharts>
                      
                  </div>
  

        </nb-card>

    </div>


</div>

